.profile {
    padding: 50px;
}

.profile-tab {
    width: 250px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.profile-tab h4 {
    font-weight: bold;
}

.profile-tab img {
    border-radius: 50%;
    width: 256px;
    height: 256px;
}
